<section class="container content">
	<div class="row">
		<div class="col-12 heading-cont">
			<h2>Список инициатив</h2>
		</div>
	</div>
	<div class="content__main border-radius">
		<ng-container *ngIf="postList">
			<div *ngFor="let post of postList"class="content__row offer border-radius row">
				<div class="col-sm-8 flex-center-space_between flex-stretch no-pad" style="padding: 0 !important;">
					<div class="content__row-img-block">
						<img src="{{post.post.image}}" />
						<div class="blueBg flex-center-space_between">
							<img src="{{post.company_logo}}" />
							<p>{{post.company_name}}</p>
						</div>
					</div>
					<div class="content__row-desc">
						<div class="gray-block flex-center-space_between">
							<p class="p_small">{{post.post.author}}</p>
							<p class="p_small offer_date">{{post.deadline | date:'hh:mm | dd.MM.yyyy'}}</p>
						</div>
						<div>
							<h3>{{post.post.title}}</h3>
							<p class="p_middle">{{post.post.text}}</p>
							<h4>Условия</h4>
							<p class="p_middle">{{post.requirements}}</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4 content__like-cont prog-cont">
					<h5 class="progress-title">Прогресс</h5>
					<div>
						<div class="progress-cont">
							{{post.percentage_val}}%
							<div class="progress">
								<div class="progress-bar" role="progressbar" [ngStyle]="{'width': post.percentage_val + '%'}" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<p class="progress-notation p_small p_small-left"><img src="assets/img/goal.png" style="margin-right: 10px;"/>{{post.repost_cnt}} репостов</p>
							<p class="progress-notation p_small p_small-left"><img src="assets/img/qwe.png" style="margin-right: 10px;"/>{{post.post.like_cnt}}</p>
						</div>
						<div class="content_like-info flex-hor-center">			          
							<share-buttons [theme]="'modern-dark'"
							 [include]="['facebook','twitter','linkedin','google','pinterest','reddit','tumblr','mix','vk','telegram','messenger','whatsapp','xing','line','sms','email','print','copy']"
							 [exclude]="['google','pinterest','linkedin','reddit','tumblr','mix','messenger','xing','line','sms','email','print','copy']"
							 [show]="6"
							 [size]="-2"
							 [url]="'https://twitter.com/'"
							 [autoSetMeta]="false"
							 (click)="repost(post)"
							></share-buttons>
						</div>
					</div>
				</div>
			</div>
		</ng-container>
	</div>
</section>