<section class="container content">
	<div class="row">
		<div class="col-12 heading-cont">
			<h2>Список инициатив</h2>
		</div>
	</div>
	<div class="content__main border-radius">
		<ng-container *ngIf="postList">
			<div *ngFor="let post of postList" class="content__row offer border-radius row">
				<div class="col-sm-8 flex-center-space_between flex-stretch">
					<div class="content__row-img-block">
						<img src="{{post.image}}" />
						<p class="p_small"><b>Автор:</b> {{post.author}}</p>
					</div>
					<div class="content__row-desc flex-center-space_between">
						<div>
							<h5>{{post.title}}</h5>
							<p class="p_middle">{{post.text}}</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4 content__like-cont">
					<p class="p_small offer_date">{{post.date | date:'hh:mm dd.MM.yyyy'}}</p>
					<p class="p_small like-info__supported">
						Уже поддержали:
						<b>{{post.like_cnt}}</b>
					</p>
					<div class="content_like-info flex-hor-center">
						<div class="like-btn border-radius" [ngClass]="{'post_liked': post.isLiked}" (click)="changeLike(post, post.is_liked)">
							<div class="like-btn__img flex-center-space_between">
								<img src="assets/img/like.png" alt="LIKE"/>
							</div>
							<p>Поддержать</p>
						</div>
					</div>
				</div>
			</div>
		</ng-container>
	</div>
</section>