<section class="container content">
	<div class="row">
		<div class="col-12 heading-cont">
			<h2>Список инициатив</h2>
		</div>
	</div>
	<div class="content__main border-radius">
		<ng-container *ngIf="postList">
			<div *ngFor="let post of postList" class="content__row offer border-radius row">
				<div class="col-sm-8 flex-center-space_between flex-stretch no-pad" style="padding: 0 !important;">
					<div class="content__row-img-block">
						<img src="{{post.image}}" />
					</div>
					<div class="content__row-desc">
						<div class="gray-block flex-center-space_between">
							<p class="p_small">{{post.author}}</p>
							<p class="p_small offer_date">{{post.date | date:'hh:mm | dd.MM.yyyy'}}</p>
						</div>
						<div>
							<h3>{{post.title}}</h3>
							<p class="p_middle">{{post.text}}</p>
						</div>
					</div>
				</div>
				<div class="col-sm-4 content__like-cont">
					<p class="like-info__supported">
						Уже поддержали:<br />
						<span class="bigP p_middle">{{post.like_cnt}}</span>
					</p>
					<div class="content_like-info">
						<div class="like-btn" [ngClass]="{'post_liked': post.is_liked}" (click)="changeLike(post, !post.is_liked)">
							<ng-container *ngIf="!post.is_liked">
								<div class="like-btn__img flex-center-space_between">
									<img src="assets/img/like.png" alt="LIKE"/>
								</div>
								<p>Поддержать</p>
							</ng-container>
							<ng-container *ngIf="post.is_liked">
								<div class="like-btn__img flex-center-space_between">
									<img src="assets/img/liked-like.png" alt="LIKE"/>
								</div>
								<p>Вы поддержали</p>
							</ng-container>
						</div>
					</div>
				</div>
			</div>
		</ng-container>
	</div>
</section>