@font-face {
	font-family: 'Montserrat-Regular';
	src: url('../fonts/Montserrat-Regular.ttf') format('truetype'),
	url('../fonts/Montserrat-Regular.eot') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat-Bold';
	src: url('../fonts/Montserrat-Bold.ttf') format('truetype'),
	url('../fonts/Montserrat-Bold.eot') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat-Light';
	src: url('../fonts/Montserrat-Light.ttf') format('truetype'),
	url('../fonts/Montserrat-Light.eot') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

p{
	margin-bottom: 0;
	line-height: 1.3;
}

h5{
	font-size: 21px;
}

.popup-container{
	position: absolute;
	max-width: 250px;
	width: 100%;
	bottom: 0;
	right: ;
	z-index: -10;
	opacity: 0;
	transition: 0.3s;
}

.popup-container_active{
	z-index: 500;
	opacity: 1;
}

.bg-shadow{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: -10;
	opacity: 0;
	transition: 0.3s;
}

.bg-shadow_active{
	z-index: 100;
	opacity: 1;
}

.header{
	width: 100%;
	box-shadow: 0px 18px 28px rgba(0, 0, 0, 0.08);
	padding: 0 60px;
	background-color: #E3E7F1;
	position: relative;
}

.flex-center-space_between{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo-container:after{
	right: -35px;
}

.header__logo-container img{
	width: 90px;
}

.header__nav{
	padding: 20px 10px;
	display: block;
	color: #494CA2 !important;
	font-size: 17px;
	opacity: 0.5;
	text-decoration: none !important;
	transition: 0.3s;
}

.header__nav_active{
	font-size: 19px;
	opacity: 1;
}

.header__menu{
	width: 70%;
}

.header__exit-container:after{
	left: -35px;
}

.border-radius{
	border-radius: 5px;
	overflow: hidden;
}

.content__main{
	padding: 50px;
}

.content__row{
	margin-bottom: 25px;
	background-color: #C6CBEF;
}

.content__row-img-block{
	width: 40%;
	height: 270px;
	overflow: hidden;
	position: relative;
}

.gray-block{	
	padding: 20px 0;
	width: 100%;
}

.gray-block p{
	color: #2E2E2E;
	opacity: 0.5;
}

.content__row-img-block{
	overflow: hidden;
}

.content__row-img-block img{
	height: 100%;
}

.p_small{
	font-size: 12px;
}

.p_middle{
	font-size: 17px;
	color: #4F3A65;
}

.content__row-desc{
	padding:20px;
	width: calc(80% - 15px);
	border-right: 2px solid #4F3A6578;
	flex-direction: column;
	display: flex;
}

.like-info__supported{
	color: #4F3A65;
}

h3{
	color: #4F3A65;
}

.flex-stretch{
	align-items: stretch;
}

.bigP{
	font-size: 17px;
	font-family: "Montserrat-Bold";
}

.content__like-cont{
	display: flex;
	flex-direction: column;
	padding: 20px;
	padding-top: 50px;
}	

.no-pad{
	padding-left: 0;
	padding-right: 0;
}

.blueBg{
	background-color: #494CA2;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 5px 0;
	justify-content: center;
}

.blueBg img{
	width: 40px;
	margin-right: 10px;
}

.blueBg p{
	color: #fff;
	font-size: 12px;
}

.like-info__supported{
	margin-bottom: 10px;
}

.offer_date{
	color: #696969;
	text-align: right;
}

.like-btn{
	display: inline-flex;
	align-items: stretch;
	min-width: 180px;
	cursor: pointer;
	transition: 0.3s;
	color: #fff;
	padding: 12px;
	background-color: #574F7D;
	margin-top: 20px;
}

.like-btn__img{
}

.like-btn__img img{
	width: 27px;
}

.like-btn p{
	line-height: 1;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-hor-center{
	display: flex;
	justify-content: center;
}

.like-info__supported b{
	font-size: 1.2em;
	display: block;
	margin-top: 5px;
}

.heading-cont{
	margin: 30px 50px;
}

.post_liked{
	background-color: #DE3030;
	color: #fff;
}

.exit-btn{
	outline: none !important;
	background-color: #8186D5;
	border-radius: 0;
	color: #DFF0EA;
}

.exit-btn:after{
	display: none;
}

.dropdown-menu{
	width: 270px;
	padding: 20px;
}

.content__row-desc{
	align-items: flex-start;
}

.sponsor-logo{
	text-align: center;
}

.sponsor-logo img{
	width: auto !important;
}

.p_small-left{
	text-align: left;
}

.progress-title{
	color: #696969;
	font-weight: 600;
	text-align: center;
}

.goal-block{
	width: 100%;
	text-align: right;
}

.progress-cont{
	margin-top: 15px;
}

.progress-cont .progress-bar{
	background-color: #55DD33;
}

.progress-notation{
	padding: 5px 0;
}

.like-btn_green{
	background-color: #55DD33;
	border-color: #41AD38;
}

.like-btn_green{
	color: #154012;
}

.like-btn_green p{
	width: auto;
}

.like-btn_green .like-btn__img{
	padding: 0 10px;
}

.prog-cont{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.icon-cont{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
}

.like-btn_center p{
	width: 100%;
}

.like-btn_gray{
	background-color: #929292;
	border-color: #4F4D4D;
	color: #4F4D4D;
}

.sponsor-logo img{
	max-width: 100%;
}

.progress{
	border-radius: 0px;
	background-color: #8186D5;
	height: 20px;
}

.progress-bar{
	background-color: #574F7D;
}

:host ::ng-deep .sb-wrapper{
	font-size: 11px !important;
}