@font-face {
	font-family: 'Montserrat-Regular';
	src: url('../fonts/Montserrat-Regular.ttf') format('truetype'),
	url('../fonts/Montserrat-Regular.eot') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat-Bold';
	src: url('../fonts/Montserrat-Bold.ttf') format('truetype'),
	url('../fonts/Montserrat-Bold.eot') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat-Light';
	src: url('../fonts/Montserrat-Light.ttf') format('truetype'),
	url('../fonts/Montserrat-Light.eot') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

body{
	min-height: 100vh;
	font-family: "Montserrat-Regular";
}

p{
	margin-bottom: 0;
	line-height: 1.3;
}

h5{
	font-size: 21px;
}

.popup-container{
	position: absolute;
	max-width: 250px;
	width: 100%;
	bottom: 0;
	right: ;
	z-index: -10;
	opacity: 0;
	transition: 0.3s;
}

.popup-container_active{
	z-index: 500;
	opacity: 1;
}

.bg-shadow{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: -10;
	opacity: 0;
	transition: 0.3s;
}

.bg-shadow_active{
	z-index: 100;
	opacity: 1;
}

.header{
	width: 100%;
	box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.35);
	padding: 0 60px;
	background-color: #D7D7D7;
	border: 2px solid #fff;
}

.flex-center-space_between{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.slash-border{
	position: relative;
}

.slash-border:after{
	content: "";
	position: absolute;
	border: 1px solid #fff;
	width: 0;
	top: -13px;
	height: calc(100% * 1.415);
	transform: rotate(45deg);
}

.header__logo-container:after{
	right: -35px;
}

.header__logo-container img{
	width: 90px;
}

.header__nav{
	padding: 20px 10px;
	display: block;
	color: #000 !important;
}

.header__menu{
	width: 70%;
}

.header__exit-container:after{
	left: -35px;
}

.border-radius{
	border-radius: 5px;
	overflow: hidden;
}

.content__main{
	padding: 50px;
	background-color: #fff;
	box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.56);
}

.content__row{
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
	margin-bottom: 25px;
}

.content__row-img-block{
	width: 20%;
	padding-top: 15px;
	padding-bottom: 15px;
}

.content__row-img-block img{
	width: 100%;
	margin-bottom: 10px;
}

.p_small{
	font-size: 12px;
	width: 100%;
	text-align: center;
}

.p_middle{
	font-size: 15px;
}

.content__row-desc{
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	width: calc(80% - 15px);
	border-right: 2px solid #C4C4C4;
}

.flex-stretch{
	align-items: stretch;
}


.content__like-cont{
	display: flex;
	flex-direction: column;
	padding: 15px 15px 15px 0;
}	

.like-info__supported{
	margin-bottom: 10px;
}

.offer_date{
	color: #696969;
	text-align: right;
	margin-bottom: 12px;
}

.like-btn{
	display: inline-flex;
	align-items: stretch;
	min-width: 180px;
	border: 3px solid #A73131;
	cursor: pointer;
	transition: 0.3s;
	color: #A73131;
}

.like-btn__img{
	padding: 0 5px;
}

.like-btn__img img{
	width: 30px;
}

.like-btn p{
	line-height: 1;
	width: 100%;
	text-align: center;
	padding: 12px;
}

.flex-hor-center{
	display: flex;
	justify-content: center;
}

.like-info__supported b{
	font-size: 1.2em;
	display: block;
	margin-top: 5px;
}

.heading-cont{
	margin: 30px 50px;
}

.post_liked{
	background-color: #DE3030;
	color: #fff;
}

.exit-btn{
	
}

.content__row-desc{
	align-items: flex-start;
}

.sponsor-logo{
	text-align: center;
}

.sponsor-logo img{
	width: auto !important;
}

.p_small-left{
	text-align: left;
}

.progress-title{
	color: #696969;
	font-weight: 600;
	text-align: center;
}

.goal-block{
	width: 100%;
	text-align: right;
}

.progress-cont{
	margin-top: 30px;
}

.progress-cont .progress-bar{
	background-color: #55DD33;
}

.progress-notation{
	display: inline-block;
	width: auto;
}

.like-btn_green{
	background-color: #55DD33;
	border-color: #41AD38;
}

.like-btn_green{
	color: #154012;
}

.like-btn_green p{
	width: auto;
}

.like-btn_green .like-btn__img{
	padding: 0 10px;
}

.prog-cont{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.icon-cont{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
}

.like-btn_center p{
	width: 100%;
}

.like-btn_gray{
	background-color: #929292;
	border-color: #4F4D4D;
	color: #4F4D4D;
}

.sponsor-logo img{
	max-width: 100%;
}